/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/bubbles.jpg');
  background-size: 100%;
  margin: 0;
}

/* Style the headers */
.header {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  text-align: center;
  color: orange;
}

.header h1 {
  font-size: 6em;
}

.header p {
  font-size: 50px;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  color: orange;
}

h3 {
  font-weight: bold;
  font-size: 2em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: orange;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  background-image: url('../images/stars.jpg');
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1em 0.5em;
  text-decoration: none;
  font-size: 3em;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: orange;
  color: black;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  background-image: url('../images/graycat.jpg');
  padding: 20px;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  background-image: url('../images/normalcat.jpg');
  padding: 20px;
}

.img {
  background-color: #aaa;
  border-radius: 50%;
  height: 28em;
  width: 26em;
}

img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
